<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e29181">  <td>22/01/18 15:08:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MyTestDemo.browser()[pri:0, instance:com.web.bms.MyTestDemo@3b6ddd1d]">&gt;&gt;browser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775445710</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/01/18 15:08:58</td>   <td>14201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyTestDemo.fb(java.lang.String,java.lang.String)[pri:0, instance:com.web.bms.MyTestDemo@3b6ddd1d]">fb</td> 
  <td>main@775445710</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/01/18 15:08:58</td>   <td>14201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyTestDemo.fb(java.lang.String,java.lang.String)[pri:0, instance:com.web.bms.MyTestDemo@3b6ddd1d]">fb</td> 
  <td>main@775445710</td>   <td></td> </tr>
<tr bgcolor="e29181">  <td>22/01/18 15:08:59</td>   <td>15281</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MyTestDemo.tearDown()[pri:0, instance:com.web.bms.MyTestDemo@3b6ddd1d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775445710</td>   <td></td> </tr>
</table>
