<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Booking</td><td>MyTestDemo.fb(java.lang.String,java.lang.String)[pri:0, instance:com.web.bms.MyTestDemo@6f46426d]<br/></td></tr>
</table>
