<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f7cd89">  <td>22/01/18 14:43:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyTestDemo.fb(java.lang.String,java.lang.String)[pri:0, instance:com.web.bms.MyTestDemo@6f46426d]">fb</td> 
  <td>main@1963862935</td>   <td></td> </tr>
<tr bgcolor="f7cd89">  <td>22/01/18 14:43:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyTestDemo.fb(java.lang.String,java.lang.String)[pri:0, instance:com.web.bms.MyTestDemo@6f46426d]">fb</td> 
  <td>main@1963862935</td>   <td></td> </tr>
</table>
